.listItem {
  padding: 1.5rem;
  line-height: 19px;
  font-weight: 600 !important;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.listText {
  font-size: 0.875rem;
  margin-left: 1.25rem;
}
.subList {
  margin-top: 1.5rem;
}
.subListItem {
  border-radius: 0.5rem !important;
  cursor: pointer;
}
.subListText {
  font-size: 0.875rem;
}

.cursorPointer {
  cursor: pointer;
}
